html,body {
    height: 100%;
}
body.home {
    background: url(/img/handshake_1.jpg) 0 0 no-repeat fixed;	
    background-size: 100%;
}
body.home .wrapper {
    background: rgba(255,153,0,0.85);
}
body .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0em;
}

.topnav{
    background-color:#333;
    width:100%;
    color:#fff;
}
.subnav{
    padding:0px 0px;
    background-color:#000;
    width:100%;
    color:#fff;
    height:30px;
}
#headerlogo{
    margin:5px 0px 14px 0px;	
}
.logo {
    display:block;
    font-size:3.4em;
    padding-top:10px;
    color:#CCC;
    font-weight:bold;

    font-family: arial, helvetica, verdana, sans-serif;
}
.topnav input{
    background-color:#555;
    height:30px;
    border:0px;
}
.push {
    height: 0em;
}

.underfold hr{
    border: solid #C60;
    border-width: 3px 0 0;	
}
.underfold{
    background-color:#333;
}
.underfold h4 small{
    color:#F90;
}
body.home .underfold{
    background-color:#fff;
}
body.home .underfold hr{
    border: solid #CCC;
    border-width: 1px 0 0;	
}
body.home .underfold h4 small{
    color:#F90;
}
body.home  .underfold h4 small{
    color:#333;
}
.nav-button{
    background-color:#000;
    height:30px;
    color:#999;
}
.button.small.nav-button {
    padding-top: 0.4rem;

}
.fb_button{
    margin-top:7px;
    width:110px;
    height:30px;
    color:#fff;
    background-color:#6a83b9;

}
.fb-link{
    font-size:12px;
    float:left;
    padding:5px 10px;
}
.fb_button .fb-init {
    float:left;
    background-color:#2956b9;
    font-weight:bold;
    font-size:20px;
    width:30px;
    height:30px;
    padding-left:10px;
}
.fb_button a {
    color:#fff;
    font-size:0.8em;
}
.topnav .small-txt {
    color:#999;
    font-size:0.8em;
    float:left;
    margin-left:23px;
}

ul li a.listlink{
    color:#000;
}
ul li a.listlink:hover{
    color:#F60;
}
label small{
    text-transform: none;
}
.listrating{
    background: url(/img/pennyrating_listing.png) no-repeat;
    height:30px;		
}
.normaltxt{
    color:#000;	
}
a.searchlist{
    display:block;
    padding:2px 2px 1px 2px;;
}
a.searchlist:hover{
    background-color:#EFEFEF;
}
.side-nav{
    padding-top:0px;
    margin-top:10px;
    background-color:#f6f6f6;
}
.side-nav li.active a:first-child{
    font-weight:bold;	
}
.side-nav li{
    margin:0;
}
.side-nav li.active{
    padding:5px 5px 5px 0px;
    background-color:#EEE;
    /* background: url(/img/nav_marker.png) no-repeat right center;
    border-right: 10px solid transparent; */
}
.side-nav li:hover{
    background-color:#EEE;
}
.side-nav li a{
    display:block;
    padding:5px 5px 5px 10px;
    color:#C60
}
.side-nav li a:hover{
    color:#000;;
}
#footer-lists ul li a {
    font-size:0.85em;
}
/*  mijn favs */

.custom-narrow{
    height:18px !important;
    padding-top:0px !important;
}

/* detailpage */

.ui-slider-horizontal  .ui-slider-handle{
    background:#F90 ; 
}
.logo-holder{
    margin:20px 0px 20px 0px;
    height:200px;
}
#contact-table,#profile-table{
    width:100%;
    margin-top:10px;
}
#contact-table td{
    padding:4px;
}
.extrafocus{
    background-color:#ECECEC;
}
.ui-datepicker-header{
    height:30px;
    padding-top:10px;
    font-size:12px;	
    background-color:#fff;
}
.ui-datepicker-prev, .ui-datepicker-next{
    padding:0px 10px;	
}
.ui-datepicker-prev{
    float:left;
}
.ui-datepicker-next{
    float:right;
    padding-right:30px;	
}
.tabs dd.active a{
    color:#FFF;
    background-color:#666;
}
#queue {
    border: 1px solid #E5E5E5;
    min-height: 180px;
    overflow: auto;
    margin-bottom: 10px;
    padding: 0 3px 3px;
    width:100%;
}

.listview .row.closed{
    opacity:0.8;
    filter:alpha(opacity=80); 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
}
.gridview  li.closed{
    opacity:0.6;
    filter:alpha(opacity=60); 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

.listview .list-row:hover{
     opacity:1;
     background-color: #EFEFEF
    
}
.mythumb{
        width:215px;
        height:215px;
        overflow:hidden;
    }
    
 #sortable-list		{ padding:0; }
    #sortable-list li	{ cursor:move;}
    #infotxt  { background:#666;color:#fff; padding:8px; text-align: center; font-size:0.9em;height:36px; }


    .pushy{
        position: absolute;
        width: 996px;
        height: 720px;
        z-index: 9999;
        background: #FFF;
        overflow: auto;
        -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    }

    /* slide Movement */

    .pushy-left{
        -webkit-transform: translate3d(-996px,0,0);
        -moz-transform: translate3d(-996px,0,0);
        -ms-transform: translate3d(-996px,0,0);
        -o-transform: translate3d(-996px,0,0);
        transform: translate3d(-996px,0,0);
    }

    .pushy-open{
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .container-push, .push-push{
        -webkit-transform: translate3d(996px,0,0);
        -moz-transform: translate3d(996px,0,0);
        -ms-transform: translate3d(996px,0,0);
        -o-transform: translate3d(996px,0,0);
        transform: translate3d(996px,0,0);
    }

    /* Menu Transitions */

    .pushy, #container, .push{
        -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
        -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
        -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
        transition: transform .2s cubic-bezier(.16, .68, .43, .99);
        /* improves performance issues on mobile*/
        -webkit-backface-visibility: hidden;
        -webkit-perspective: 1000;
        -webkit-transition-duration:1.2s;
        transition-duration:1.2s;
    }

    /* Site Overlay */

    .site-overlay{
        display: none;
    }
    .pushy-active .site-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 996px;
        z-index: 9999;
    }    
@media only screen and (max-width: 40em) {
    .logo  {
        font-size:1.0em;
    }
}
@media only screen and (min-width: 40.063em) {
    .logo  {
        font-size:1.6em;
    }
}

@media only screen and (min-width: 64.063em) {
    #footer-lists{
        margin-top:-200px;	
        height:200px;
    }
    .logo  {
        font-size:3.4em;
    }
}


